.tablerow:nth-child(odd){
  background-color:#7c8eea;
  color: white;
}
.tablerow:nth-child(even){
  background-color:#efefef;
  color: black;
}

.col-sm{
/* padding: 10px; */
color: black;
font-family: 'Merriweather', serif;
text-align: center;
text-decoration: none;
font-size: 10px; 
line-height: 20px;
border: 1px black solid;
}

