.tablerow:nth-child(odd){
  background-color:#ebeefd;
  color: black;
}
.tablerow:nth-child(even){
  background-color:#f8dfb9;
  color: black;
}

.headerrow {
  background-color:#0e142e;
  color: rgb(236, 242, 252);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.col-2 {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px; 
  line-height: 14px;
  padding: 1% 0;
  margin: auto;
  text-align: center;
  }

.col-sm {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px; 
  line-height: 14px;
  padding: 1% 0;
  margin: auto;
  text-align: center;
}

.col-3 {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px; 
  line-height: 14px;
  padding: 1% 0;
  margin: auto;
  text-align: center;
}

.col-6 {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px; 
  line-height: 14px;
  padding: 1% 0;
  margin: auto;
  text-align: center;
  }

.datarow {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px; 
  line-height: 14px;
  padding: 1% 0;
  margin: auto;
  text-align: center;
  }

.container{
  width: 90%;
}
